/*

https: //coolors.co/654236-f3474f-7dcfb6-00b2ca-1d4e89

.sidebar{background:#322} /* light blue sidebar */
.narration {
  color: blue;
  background-color: #0000ff33;
  font-family: "Times New Roman", Times, serif;
  font-size: 16pt;
  padding: 10px;
}

img.title {
  width:100%
}
img.half {
  width:50%
}

.content-event-subhead {
    color: #555;
    border-bottom: 1px solid #eee;
    padding: .4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: .1em;
}

div.walk-segment {
  border: 1px solid #aaa;
  padding: 25px;
}
.walk-segment ul {
  padding-left:0;
}

.contact.link {
  margin: 15px;
  display: inline-block;
}

.reddit.contact.link {
  width: 100px;
}

div.thermometer {
  white-space: pre;   /* stack lines of fundraising goal without <br> */
  line-height: 12px;  /* make two lines of fundraising goal look like one line */
}

/* Go Get Funding button */
.ggf.btn-orange {
    background: #f3650f;
    font-size: 16px;
    border: none;
    padding: 7px 15px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.ggf.btn-warning {
    color: #fff;
    border-color: #eea236;
}

.ggf.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
/* end Go Get Funding button */
