{{/* This is copied from pagination.html and had most HTML tags and classes removed to make it small */}}
{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
      {{ if .Paginator.HasPrev }}
      <a href="{{.Paginator.Prev.URL}}">
        <i class="fa fa-angle-double-left"></i>&nbsp;Newer
      </a>
      {{ end }}
    Page {{.Paginator.PageNumber}} of {{.Paginator.TotalPages}}
    {{ if .Paginator.HasNext }}
      <a href="{{.Paginator.Next.URL}}">
        Older&nbsp;<i class="fa fa-angle-double-right"></i>
      </a>
    {{ end }}
{{ end }}
