{{ partial "header.html" . }}

<div id="layout" class="pure-g">
    {{ partial "sidebar.html" . }}

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
          {{ if .IsTranslated }}
          <h4>{{ i18n "translations" }}</h4>
          <ul>
              {{ range .Translations }}
              <li>
                  <a href="{{ .Permalink }}">{{ .Language.LanguageName }}: {{ .Title }}</a>
              </li>
              {{ end }}
          </ul>
          {{ end }}
          {{ if eq .Paginator.PageNumber 1 }} {{/* Only show upcoming events on page 1 of /events/ */}}
            <!-- A wrapper for all the future blog posts -->
            <h1>Upcoming Events</h1>
            <div class="posts">
                {{ $future_events := where .Pages ".Params.eventdate" "ge" (now.Format "2006-01-02") }}

                {{ range sort $future_events ".Params.eventdate" "asc" }}
                <section class="post">
                    <header class="post-header">

                        <a href="{{ .Permalink }}" class="post-title">{{ .Title }}</a>
                        {{ if ne .Params.EventDate nil }}
                          <h1 class="content-event-subhead">
                            {{ if ne .Params.EventTime nil }}{{  .Params.EventTime }}{{ end }}
                            {{ dateFormat "Monday 02 January 2006" .Params.EventDate }}
                          </h1>
                        {{ end }}
                        <p class="post-meta">
                            {{ if isset .Params "categories" }}
                                {{ range .Params.categories }}
                                    <a class="post-category post-category-{{ . }}" href='{{ ( printf "categories/%s" . ) | absURL }}'>{{ . }}</a>
                                {{ end }}
                            {{ end }}
                        </p>
                    </header>

                    <div class="post-description">
                        {{ .Content }}
                    </div>
                </section>
                {{ end }}
            </div>
          {{ end }} {{/* End only show upcoming events on page 1 of /events/ */}}
          <!-- A wrapper for all the past blog posts -->
          <h1>Past Events <div class="note">{{ partial "mini_pagination.html" . }}</div></h1>

          <div class="posts">
              {{ $past_events := where .Pages ".Params.eventdate" "le" (now.Format "2006-01-02") }}

              {{ $paginator := .Paginate $past_events }}

              {{ range sort $paginator.Pages ".Params.eventdate" "desc" }}
              <section class="post">
                  <header class="post-header">

                      <a href="{{ .Permalink }}" class="post-title">{{ .Title }}</a>
                      {{ if ne .Params.EventDate nil }}
                        <h1 class="content-event-subhead">
                          {{ if ne .Params.EventTime nil }}{{  .Params.EventTime }}{{ end }}
                          {{ dateFormat "Monday 02 January 2006" .Params.EventDate }}
                        </h1>
                      {{ end }}
                      <p class="post-meta">
                          {{ if isset .Params "categories" }}
                              {{ range .Params.categories }}
                                  <a class="post-category post-category-{{ . }}" href='{{ ( printf "categories/%s" . ) | absURL }}'>{{ . }}</a>
                              {{ end }}
                          {{ end }}
                      </p>
                  </header>

                  <div class="post-description">
                      {{ .Summary }}
                  </div>
              </section>
              {{ end }}
          </div>
          {{ partial "pagination.html" . }}
          {{ partial "footer.html" . }}
        </div>
    </div>
</div>
</body>
</html>
