.sidebar{background:#128FE0} /* light blue sidebar */
.narration {
  color: blue;
  background-color: #0000ff33;
  font-family: "Times New Roman", Times, serif;
  font-size: 16pt;
  padding: 10px;
}

img.title {
  width:100%
}

.content-event-subhead {
    color: #555;
    border-bottom: 1px solid #eee;
    padding: .4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: .1em;
}

div.walk-segment {
  border: 1px solid #aaa;
  padding: 25px;
}
.walk-segment ul {
  padding-left:0;
}
