.sidebar{background:#128FE0} /* light blue sidebar */
.narration {
  color: blue;
  background-color: #0000ff33;
  font-family: "Times New Roman", Times, serif;
  font-size: 16pt;
  padding: 10px;
}

img.title {
  width:100%
}
